@charset "UTF-8";
body 
{ 
    background-color: black; 
    background: linear-gradient(to bottom, red 0%,yellow 100%);
    font-family: Verdana, Geneva, Arial, sans-serif; 
    padding:0px; 
    margin:0px; 
}
video 
{
    width: 400px;
    padding: 15px;
    margin: 15px;
    background-color:black;
    border:2px white solid;
    box-shadow: 10px 10px 5px black;
}
button 
{
    background-color:black;
    color:white;
    height:40px;
    border:2px white solid;
    box-shadow: 10px 10px 5px black;
    border-radius: 5px;
}
button:hover
{
    background-color:beige;
    color:black;
    height:40px;
    border:2px white solid;
    box-shadow: -10px -10px 5px black;
    border-radius: 5px;
}
header, footer {
    background-color: white;
    color: red;
    padding-top:5px;
    padding-bottom:5px;
    }
    aside {
        background-color: beige;
        float: right;
        width: 300px;
        margin: 5px;
        padding: 5px;
        }
        mark 
        {
         background-color:aqua;
        }
figure 
{
    position:relative;
    width:220px;
    height:200px;
    background-color:white;
    margin:5px;
    padding:5px;
    border:1px solid black;
}
figcaption 
{
    position:bottom;
    background-color:black;
    color:white;
}


        

#wrapper 
{ 
    width: 960px;
    height: 800px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color:LightSlateGrey ; 
}
#right-column 
{ 
    float: right; 
    width: 600px;
    height: 600px; 
    background-color:LightGray; 
} /* The left-column ID style is floated left */ 
#left-column 
{ 
    float: left; 
    width: 360px;
    background-color:silver; 
    height:600px; 
} 
h1,h2,h3,h4,h5,h6,p,li 
{ 
    margin-left:15px; 
} 
#footer 
{ 
    height:80px; 
}
#banner
{ 
    height:120px; 
    background-color:SlateGrey; 
}
#banner h1 
{ 
    color: white; 
}
.box 
{ 
    height: 150px; 
    width: 150px;
    float: left; 
    background-color:tan; 
    margin: 15px; 
    opacity:.5; 
} 
.box:hover 
{ 
    background-color:white; 
    opacity:1; 
}  
.clear
{ 
    clear: both; 
}